*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


#preview>* {
    margin-block: .5em;
}

img {
    max-width: 100%;
}


ul,
ol {
    list-style-position: inside;
}

blockquote {
    border: 1px solid #000;
}

code {
    background-color: white;
    padding: 1em;
    display: block;
}